/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Arrows {
  background-image: url(../img/spriteW.png);
  background-position: -170px -80px;
  width: 25px;
  height: 31px;
}
.icon-coop {
  background-image: url(../img/spriteW.png);
  background-position: 0px -80px;
  width: 89px;
  height: 80px;
}
.icon-inet {
  background-image: url(../img/spriteW.png);
  background-position: 0px 0px;
  width: 109px;
  height: 80px;
}
.icon-lending {
  background-image: url(../img/spriteW.png);
  background-position: -89px -80px;
  width: 81px;
  height: 80px;
}
.icon-oon {
  background-image: url(../img/spriteW.png);
  background-position: -109px 0px;
  width: 98px;
  height: 80px;
}
